<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.matburt.mobileorg"
    android:versionCode="62"
    android:versionName="0.6.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Parsing.MobileOrgApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="MobileOrg" >
        <receiver
            android:name=".Services.MobileOrgWidget"
            android:label="MobileOrg Tasks" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mobileorg" />
        </receiver>

        <service android:name=".Services.MobileOrgWidget$MobileOrgWidgetService" />
        <service android:name=".Services.SyncService" >
            <intent-filter>
                <action android:name="com.matburt.mobileorg.SYNC_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name=".Services.MobileOrgStartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Gui.OutlineActivity"
            android:label="MobileOrg"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.matburt.mobileorg.SyncService.SyncService.action.SYNC_UPDATE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gui.NodeViewActivity"
            android:label="Org View"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".Gui.NodeEditActivity"
            android:exported="true"
            android:label="Org Capture"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="com.matburt.mobileorg.CAPTURE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gui.NodeEditBodyActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="MobileOrg Settings" >
        </activity>
        <activity
            android:name=".Settings.WizardActivity"
            android:label="MobileOrg Wizard" >
        </activity>
        <activity
            android:name=".Synchronizers.DropboxAuthActivity"
            android:label="Dropbox Authentication" >
        </activity>
        <activity
            android:name=".Settings.WebDAVSettingsActivity"
            android:label="WebDAV Settings" >
        </activity>
        <activity
            android:name=".Settings.SDCardSettingsActivity"
            android:label="SDCard Settings" >
        </activity>
        <activity
            android:name=".Settings.DropboxSettingsActivity"
            android:label="Dropbox Settings" >
        </activity>
        <activity
            android:name=".Settings.ScpSettingsActivity"
            android:label="Scp Settings" >
        </activity>
    </application>

</manifest>