<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.matburt.mobileorg"
      android:versionCode="1"
      android:versionName="1.0">
  <uses-permission android:name='android.permission.INTERNET' />
  <application android:name=".MobileOrgApplication"
               android:label="MobileOrg"
               android:icon="@drawable/icon">
    <activity android:name="MobileOrgActivity"
              android:label="MobileOrg">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="SettingsActivity"
              android:label="MobileOrg Settings">
    </activity>
    <activity android:name="SimpleTextDisplay"
              android:label="Org view">
    </activity>
    <activity android:name="OrgContextMenu"
              android:label="OrgMenu">
    </activity>
  </application>
</manifest>
