<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matburt.mobileorg">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"

        />

    <!-- TODO: look at this backup thing the above warning is talking about-->
    <application
        android:name=".orgdata.MobileOrgApplication"
        android:icon="@drawable/icon"
        android:label="MobileOrg"
        android:theme="@style/AppTheme.NoActionBar">


        <service
            android:name=".services.SyncService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.matburt.mobileorg.SYNC_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name=".orgdata.OrgProvider"
            android:authorities="com.matburt.mobileorg.orgdata.OrgProvider"
            android:exported="false"/>

        <receiver
            android:name=".plugin.Synchronize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".OrgNodeListActivity"
            android:label="MobileOrg"
            android:theme="@style/ActionModeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.matburt.mobileorg.SYNC_FAILED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="MobileOrg Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrgNodeDetailActivity"
            android:theme="@style/ActionModeAppTheme" />
        <activity
            android:name=".gui.wizard.WizardActivity"
            android:label="MobileOrg Wizard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.matburt.mobileorg.Settings.SETUP_WIZARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.CertificateConflictActivity"
            android:label="MobileOrg Certificate Conflict"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.FileDecryptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.synchronizers.WebDAVSettingsActivity"
            android:label="WebDAV Settings" />
        <activity
            android:name=".settings.synchronizers.SDCardSettingsActivity"
            android:label="SDCard Settings" />
        <activity
            android:name=".settings.synchronizers.ScpSettingsActivity"
            android:label="Scp Settings" />
        <activity
            android:name=".settings.synchronizers.UbuntuOneSettingsActivity"
            android:label="Ubuntu One Settings" />
        <activity
            android:name=".EditNodeActivity"
            android:theme="@style/ActionModeAppTheme" />

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-s93596hsuz5dwsj" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.outline.ConflictResolverActivity"/>

        <activity android:name=".gui.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".gui.wizard.wizards.DropboxWizard"/>
        <activity android:name=".gui.wizard.wizards.SDCardWizard"/>
        <activity android:name=".gui.wizard.wizards.SSHWizard"/>
        <activity android:name=".gui.wizard.wizards.UbuntuOneWizard"/>
        <activity android:name=".gui.wizard.wizards.WebDAVWizard"/>
    </application>
</manifest>