<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matburt.mobileorg2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.matburt.mobileorg2.OrgData.MobileOrgApplication"
        android:icon="@drawable/icon"
        android:label="MobileOrg2"
        android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Gui.SearchActivity" />

        <receiver
            android:name=".Gui.Widget.MobileOrgWidget"
            android:label="MobileOrg Tasks" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mobileorg" />
        </receiver>

        <service android:name=".Gui.Widget.MobileOrgWidget$MobileOrgWidgetService" >
        </service>
        <service android:name="com.matburt.mobileorg2.Services.SyncService" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.matburt.mobileorg2.SYNC_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name="com.matburt.mobileorg2.OrgData.OrgProvider"
            android:authorities="com.matburt.mobileorg2.OrgData.OrgProvider" />

        <receiver android:name="com.matburt.mobileorg2.Plugin.Synchronize" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.matburt.mobileorg2.Services.MobileOrgStartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.matburt.mobileorg2.OrgNodeListActivity"
            android:label="MobileOrg"
            android:theme="@style/ActionModeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.matburt.mobileorg2.SYNC_FAILED" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.matburt.mobileorg2.Settings.SettingsActivity"
            android:label="MobileOrg Settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.OrgNodeDetailActivity"
            android:theme="@style/ActionModeAppTheme">

        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Gui.Wizard.WizardActivity"
            android:label="MobileOrg Wizard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.matburt.mobileorg2.Settings.SETUP_WIZARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Gui.CertificateConflictActivity"
            android:label="MobileOrg Certificate Conflict"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.matburt.mobileorg2.Gui.FileDecryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Settings.Synchronizers.WebDAVSettingsActivity"
            android:label="WebDAV Settings" >
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Settings.Synchronizers.SDCardSettingsActivity"
            android:label="SDCard Settings" >
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Settings.Synchronizers.ScpSettingsActivity"
            android:label="Scp Settings" >
        </activity>
        <activity
            android:name="com.matburt.mobileorg2.Settings.Synchronizers.UbuntuOneSettingsActivity"
            android:label="Ubuntu One Settings" >
        </activity>

        <activity
            android:name="com.matburt.mobileorg2.EditNodeActivity"
            android:theme="@style/ActionModeAppTheme"
            >
        </activity>

        <service android:name="com.matburt.mobileorg2.Services.TimeclockService" >
        </service>

        <activity
            android:name="com.matburt.mobileorg2.Services.TimeclockDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".Gui.Agenda.AgendaSettings" >
        </activity>
        <activity android:name=".Gui.Agenda.AgendaEntrySetting" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-s93596hsuz5dwsj" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.matburt.mobileorg2.Services.CalendarSyncService" >
        </service>

        <activity android:name=".Gui.Agenda.AgendasActivity" >
        </activity>
        <activity android:name=".Gui.Agenda.AgendaActivity" >
        </activity>

    </application>

</manifest>
